#board {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(4, 80px);
  gap: 0;
}

.tile {
  border: 1px solid black;
}

.grey {
  background: grey;
}

.draggable {
  cursor: grab;
}

.draggable:active {
  cursor: grabbing;
}
